{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>IT Assets | {% block title %}{% endblock title %} </title>
    <link rel="stylesheet" href="{% static 'itassetnewapp/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{% static 'itassetnewapp/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo">IT-Assets</a><button data-toggle="collapse"
                class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <!-- <li class="nav-item" role="presentation"></li> -->
                    {% if user.is_authenticated %}

                    <li class="nav-item">
                        <h4><span class="badge badge-secondary">Welcome,{{user.username}}</span></h4>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'asset_list' %}">List</a>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link"
                            href="{% url 'asset_entry' %}">Entry</a>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'signup' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                        class="icon ion-social-instagram-outline"></i></a><a href="#"><i
                        class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="{% static 'itassetnewapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'itassetnewapp/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{% static 'itassetnewapp/js/theme.js' %}"></script>
</body>

</html>